/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 400;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Header styling  start*/
img#logo{
    margin-bottom: 10px;
}

a#link-brand.navbar-brand{
    margin-left:15px;
}

a#login.top-menu-login {
    background-color: rgb(68, 68, 68);
    border-left: 1px solid #575757;
    text-transform:uppercase;
    color:white;
}

    a#login.top-menu-login:hover {
        color: #f1a41a;
    }

a#register.top-menu-register {
    background-color: rgb(68, 68, 68);
    border-left: 1px solid #575757;
    text-transform: uppercase;
    color: white;
}

    a#register.top-menu-register:hover {
        color: #f1a41a;
    }

a#postavi-oglas.top-menu-postavioglas {
    border-left: 1px solid #575757;
    background: linear-gradient(to bottom, #00a8e6 0, #00a8e6 70%, #1a8bbb 99%);
    color: white;
}

    a#postavi-oglas.top-menu-postavioglas:hover {
        cursor: pointer;
    }

/* Header styling  end*/
